<footer class="mt-3">
<!-- Footer -->
  <div class="py-4" style="background-color:#8D004A;">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class=" text-white mb-3  h5 br-right-green position-relative">A propos de CTE.TN</div>                   
          <ul class="links p-0 list-unstyled lh-lg">
              <li><a href="/qui_sommes_nous/" class="text-white">Qui sommes-nous?</a></li>
              <li><a href="/conditions-de-ventes/" class="text-white">Conditions générales</a></li>
              <li><a href="/mentions-legales/" class="text-white">Mentions légales</a></li>
              <li><a href="/faq/" class="text-white">Questions fréquentes (FAQ) </a></li>
              <li><a href="https://booking.cte.tn/cr.admin/login.aspx" class="text-white">Accès PRO</a></li>
              <li><a href="/contact/" class="text-white">Contact</a></li>
          </ul> 
        </div>
        <div class="col-md-5">
          <div class="row">
            <div class="col-md-6 col-6">
              <div class="text-white  mb-3 h5 br-right-green position-relative">Meilleures offres</div>    
                <ul class="links p-0 list-unstyled link-dark lh-lg ">
                    <li><a href="/promos-hotels-tunisie/" class="text-white">Hôtels en promotion</a></li>
                    <li><a href="/meilleurs-hotels-en-tunisie/" class="text-white">Meilleurs hôtels</a></li>
                    <li><a href="/hotels-confinement/" class="text-white">Hôtels confinement</a></li>
                    <li><a href="/hotel-avec-toboggan/" class="text-white">Hôtels avec toboggan</a></li>
                    <li><a href="/offres-speciales-voyage-de-noces/" class="text-white">Spécials voyage de noces</a></li>
                    <li><a href="/voyages-dans-le-monde/" class="text-white"> Voyages organisés</a></li>
                </ul> 
            </div>
            <div class="col-md-6 col-6 ">
              <div class="  text-white mb-3 h5 br-right-green position-relative">Hôtels en Tunisie</div>
                <ul class="links p-0 list-unstyled link-dark lh-lg">
                  <li><a href="/hammamet-hotels/" class="text-white">Hôtels Hammamet</a></li>
                  <li><a href="/nebeul-hotels/" class="text-white">Hôtels Nabeul</a></li>
                  <li><a href="/sousse-hotels/" class="text-white">Hôtels Sousse</a></li>
                  <li><a href="/monastir-hotels/" class="text-white">Hôtels Monastir</a></li>
                  <li><a href="/mahdia-hotels/" class="text-white">Hôtels Mahdia</a></li>
                  <li><a href="/tozeur-hotels/" class="text-white">Hôtels Tozeur</a></li>
                </ul>
            </div>
          </div>
      </div>
      <div class="col-md-4">
        <div class="text-white mb-3  h5 br-right-green position-relative">Nous contacter</div>       
        <ul class="links p-0 list-unstyled lh-lg">
          <li><span class="text-white">Adresse Siège:</span><a class="text-white" href="https://g.page/Carthage_travel_events?share" target="_blank"> 
            <br>Rue Dag Hamarshoeld 8050 Hammamet</a>
          </li>
          <li class="text-white"><span class="text-white">Tél:</span><a class="text-white" href="tel:+21672263695">+(216) 72 263 695 </a> / <a class="text-white" href="tel:+21672263694">+(216) 72 263 694</a></li>
          <li><span class="text-white">Fax:</span><a class="text-white" href="tel:+21672263673">+(216) 72 263 673</a></li>
          <li><span class="text-white">Email:</span><script type="text/javascript">
            /*<![CDATA[*/
            
            /***********************************************
            * Encrypt Email script- Please keep notice intact
            * Tool URL: http://www.dynamicdrive.com/emailriddler/
            * **********************************************/
            <!-- Encrypted version of: client [at] ***.** //-->
            
            var emailriddlerarray=[99,108,105,101,110,116,64,99,116,101,46,116,110]
            var encryptedemail_id62='' //variable to contain encrypted email 
            for (var i=0; i<emailriddlerarray.length; i++)
             encryptedemail_id62+=String.fromCharCode(emailriddlerarray[i])
            
            document.write('<a href="mailto:'+encryptedemail_id62+'" class="text-white">client@cte.tn</a>')
            
            /*]]>*/
            </script><a href="mailto:client@cte.tn" class="text-white">client@cte.tn</a></li>
        </ul> 
      </div>

   </div>
    <div class="row  g-2 g-lg-4">
      <div class="col-md-8 ">
        <div class="news-box  d-flex">
          <div class="font-weight-400 text-white align-self-center fs-6 me-3">Je souhaite recevoir des offres par email</div>              
          <form method="post" name="news" id="news" action="javascript:void(0)" class="news">
            <div class="form-group">
                <div class="input-group ">
                  <input type="email" name="email" id="emailNews" class="form-control h-50  rounded-0" placeholder="Votre adresse mail" required="">
                  <button class="btn btn-warning btn-news  rounded-0" type="submit">S'inscrire</button>
                </div>
            </div>
            <div class="result-news"></div>
          </form>
        </div>
      </div>
      <div class="col-md-4  text-end">
        <ul class="list-inline mb-0">
          <li class="list-inline-item"> <span class="font-weight-400 text-white fs-6"> Suivez-nous</span></li>
          <li class="list-inline-item"><a target="_blank" href=" https://www.facebook.com/CarthageTravelAndEvents/" rel="nofollow"><img src="/assets/img/footer/facebook32.png" alt="facebook"></a></li>
          <li class="list-inline-item"><a target="_blank" href="https://www.instagram.com/carthage_travel_events/" rel="nofollow"><img src="/assets/img/footer/instagram32.png" alt="instagram"></a></li>  
          <li class="list-inline-item"><a target="_blank" href="https://www.linkedin.com/company/carthage-travel-and-events" rel="nofollow"><img src="/assets/img/footer/linkedin32.png" alt="linkedin"></a></li>   

        </ul>
      </div>
    </div>
</div>
</div>
<div class=" bg-dark ">
  <div class="container">
      <div class="row">
        <div class="col-md-5 align-self-center">
            <p class="text-white mb-0">©2021 cte.tn  - Tous droits réservés. <span class="text-white">Powered BY <strong><a href="https://www.boosterbc.com/" title="Booster Business And Communication Votre partenaire technologique de vos projets e-tourisme et web mobile" target="_blank" class="text-white" rel="follow">Booster BC</a></strong></span></p>
        </div>
        <div class="col-md-7 text-end ">
          <img src="assets/img/footer/partner.png" alt="partner" title="partner" class="img-fluid">
        </div>
      </div>
    </div>
</div>
</footer>
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
  function hotelTemplate(hotel) {
    rooms=``;
    $.each(hotel.rooms, function(index, room) {
      roomTypes=[];
      roomFilters=``;
      $.each(room.rates, function(index, rate) {
        roomTypes.push({id:rate.boardCode,board:rate.boardName})
        oldRate=''
        minCancelDate='';
        var rateClass='';
        var availability='';
        if(typeof(rate.cancellationPolicies[0])!=='undefined')
        {
          minCancelDate='annulation gratuite avant le  '+ (parseInt(rate.cancellationPolicies[0].from.split("T")[0].split("-")[2])+1)+'/'+rate.cancellationPolicies[0].from.split("T")[0].split("-")[1]+'/'+rate.cancellationPolicies[0].from.split("T")[0].split("-")[0];
        }
        if(typeof(rate.amountWithoutPromotion) !=='undefined')
        {
          oldRate=rate.amountWithoutPromotion + ' TND'
        }
        occupants=``;
        if(rate.adults===1)
        {
          occupants+= rate.adults +' adulte';
        }
        else
        {
          occupants+= rate.adults +' adultes';
        }
        if(rate.children !== 0)
        {
          if(rate.children===1)
          {
            occupants+=', '+ rate.children +' enfant';
          }
          else
          {
            occupants+=', '+ rate.children +' enfants';
          }
        }
        if(rate.infant !== 0){
          if(rate.infant===1){
            occupants+=', '+ rate.infant +' bébé';
          }
          else{
            occupants+=', '+ rate.infant +' bébés';
          }
        }
        if(rate.rateClass=="NRF"){
          rateClass = `<p class="mb-1">Non Remboursable</p>`
        }
        if(rate.availability === "R"){
          availability=`<div style="position:absolute;top:0;right:0;" class="badge bg-warning rounded-0">Sur Demande</div>`
        }
        if(rate.availability === "A"){
          availability=`<div style="position:absolute;top:0;right:0;" class="badge bg-primary rounded-0">Disponible</div>`
        }
        rooms+=`<div style="position: relative;" class="row py-3 mt-2 border room-card room-${hotel.hotelId} align-items-center"  data-group="${rate.boardCode}">
                  <div class="col-lg-4 col-md-12" style="border-right:1px dashed #33333350">
                    <h6><i class="fas fa-bed"></i> ${room.name}</h6>
                    <p class="fs-6 text-muted mb-1"><small><i class="fas fa-users"></i> ${occupants}</small></p>
                  </div>
                  <div class="col-lg-4 col-md-8 h-100" style="height: 100%; border-right:1px dashed #33333350">
                    <h6>${rate.boardName}</h6>
                    <p class="mb-1 text-danger text-normal" data-toggle="tooltip" data-placement="top" title="${minCancelDate}" > <small><i class="fas fa-user-shield"></i>  Annulation gratuite </small></p>
                    ${rateClass}
                  </div>
                  <div class="col-lg-2 col-md-4" style="height: 100%; border-right:1px dashed #33333350">
                    <h6 class="text-end">${rate.amount} TND</h6>                    
                    <h6 class="text-decoration-line-through text-end"><small> ${oldRate} </small> </h6>
                  </div>
                  <div class="col-lg-2 col-md-4">
                    ${availability}
                    <input type="checkbox" id="${rate.rateKey}" name="pensionId" class="room-select" value='${rate.rateKey}' price='${rate.amount}' >
                    <label for="${rate.rateKey}">Selectionnez</label>
                    <p class="text-end mb-1"><small><span class="nights-count"></span> nuitées</small></p>
                  </div>
                </div>`
        });
      
    });
    $.each(roomTypes, function(index, type) {
      roomFilters+=`
                    <div class="col-2 mb-2 px-1">
                      <input type="radio" class="btn-check room-filter" name="${hotel.hotelId}room-type" id="${hotel.hotelId}-${type.id}"  autocomplete="off" data-set="${type.id}" >
                      <label class="btn btn-outline-secondary border border-1 shadow-sm" style="height:100%; width:100%;" for="${hotel.hotelId}-${type.id}"> <small>${type.board}</small> </label><br>
                    </div>`;
    });
    stars=hotel.rating;
    rating=``;
    for (var i =1; i<=hotel.rating;  i++ ) { 
        rating+=`<i style="color: #FF9529;" class="fas fa-star"></i>`;
    } 
    for (var i =5; i>hotel.rating;  i-- ) { 
        rating+=`<i style="color: #FF9529;" class="far fa-star"></i>`;
    }
    if(hotel.marketingText.length==0)
    {
      hotel.marketingText="<br>"
    }
    return `{{> hotel}}`;
  }
  function filtersPriceTemplate(filters){
    return `{{> filters/priceFilter}}`;
  }
  function filtersRatingTemplate(rating){
    return `{{> filters/ratingFilter}}`;
  }
  function filtersBoardTemplate(board){
    return `{{> filters/boardFilter}}`;
  }
  function filtersThemeTemplate(theme){
    return `{{> filters/themeFilter}}`;
  }
</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/bloodhound.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script type="text/javascript" src="javascripts/plugins/jquery.lazy.min.js"></script>
<script type="text/javascript" src="javascripts/plugins/jquery.lazy.plugins.min.js"></script>
<script type="text/javascript" src="javascripts/searchForm.js"></script>
<script type="text/javascript" src="javascripts/searchResults.js"></script>
<script type="text/javascript" src="javascripts/filters.js"></script>
