<div class="card mt-3 hotel" >
    <div class="row no-gutters">
        <div class="col-md-12 col-lg-5 pe-0">
            <img id="${hotel.hotelId}-pic" data-src="${hotel.photos[0]}" class="card-img rounded-0 lazy" alt="...">
        </div>
        <div class="col-md-12 col-lg-7 ps-0" >
            <div class="card-body h-100 p-3 pb-0" style="position: relative;">
                <h4 class="h-rating mb-3">${rating}</h4>
                <h5 class="card-title">${hotel.name}</h5>
                <p class="h-adress"><i class="fas fa-map-marker-alt"></i> ${hotel.address}</p>
                <hr>
                <div class="mb-1">
                    <p class="card-text text-success">${hotel.marketingText}</p>
                </div>
                <div class="row">
                    <h5 class="card-price col pt-3 ps-3 pb-4 mb-0" style="position:absolute;bottom : 0; left:0; background-color:#f2f7fd;">à partir de ${hotel.minRate} ${hotel.currency}</h5>
                    <button class="btn btn-primary showRooms-btn col rounded-0 p-3" style="position:absolute;bottom : 0; right:0; width :50%;" id="${hotel.hotelId}-showB" onclick="showRooms(this)">Chambre et Tarifs <i class="fas fa-chevron-down" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div id="${hotel.hotelId}-hotelRooms" class="container p-4 " style="display: none;" >
        <div class="">
            <div class="row">
                <div class="col card-body">
                    <h5 class=""><i class="fas fa-concierge-bell"></i> Choisissez votre chambre et formule</h5>
                </div>
            </div>
            <div class="row mb-4 room-filters">
                <div class="col-2 mb-2 px-1">
                    <input type="radio" class="btn-check room-filter" name="${hotel.hotelId}room-type" id="${hotel.hotelId}-all"  autocomplete="off" data-set="all" checked>
                    <label class="btn btn-outline-secondary" style="height:100%;  width:100%;" for="${hotel.hotelId}-all"> <small>All</small> </label><br>
                </div>
                ${roomFilters}
            </div>
            <div  class="rooms" >
                <form id="form-${hotel.hotelId}" action="/checkout" method="post" onsubmit="return reservationValidate(this);">
                    ${rooms}
                    <input type="hidden" name="hotelPic" value="${hotel.photos[0]}">
                    <input type="hidden" name="csrf" value="{{token}}">
                    <input type="hidden" name="searchCode" value="${searchCode}">
                    <div class="container p-0">
                        <div class="row mt-5 border room-card room-${hotel.hotelId} align-items-center justify-content-between">
                            <h5 class="col-4 offset-4 mt-auto mb-auto rtl" id="total-${hotel.hotelId}">Total : 00.00 TND</h5>
                            <button id="resa-${hotel.hotelId}" class="btn btn-warning rounded-0 col-4 py-2 px-4" type="submit"><h5 class="text-white">Réservez</h5></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> 
