<div class="card mb-3 shadow-sm" >
    <div class="row no-gutters">
        <div class="col-4">
        <img src="${hotel.photos[0]}" class="card-img" alt="...">
        </div>
        <div class="col-5">
        <div class="card-body">
            <h5 class="card-title">${hotel.name}</h5>
            <p class="h-adress"><i class="fas fa-map-marker-alt"></i> ${hotel.address}, ${hotel.city} ${hotel.country}</p>
            <hr>
            <p class="card-text text-success">${hotel.marketingText}</p>
        </div>
        </div>
        <div class="col-3">
        <div class="card-body">
            <h5 class="">à partir de ${hotel.minRate} ${hotel.currency}</h5>
        </div>
        </div>
    </div>
</div> 