<div class="my-5 py-5"></div>
<div class="container">
  <div class="mt-5">
    <div>
      {{#ifCond status "success"}}
      <h4>Votre réservationation est enregistrée Avec succès</h4>
      {{else}}
      <h4>Une érreur s'est produite lors du votre réservation, veuillez réessayer</h4>
      {{/ifCond}}
      <div id="book" class="row">
          <div class="col">
              <h4> </h4>
              <p> {{bookId}} </p>
          </div>
      </div>
    </div>
  </div>
</div>
{{!-- <script>
  function showRates(data) {
    $('#rates').html(data);
  }
  $( document ).ready(function() {
    $.ajax({
      type: "POST",
      url: 'checkout/checkRate',
      success:function(json){ 
        showRates(json);
      },
      error:function (request, error) {
        console.log(arguments);
      }
    });
  });
</script> --}}