<!-- Section: Search engine -->
<div class="container">
  {{>searchForm}}
</div>
<!-- Section: Search engine -->
<div class="row mt-5">
  <div class="col-md-3 mb-4">
      <!-- Section: Sidebar -->
    <section id="sidebar" class="mb-3" >
        <!-- Section: Filters -->
        <section class="p-3" id="filters">
            <h5>Filters</h5>
            <!-- Section: Price  -->
            <section id="price-filter" class="mb-4"></section>
            <!-- Section: Price  -->
            <!-- Section: rating -->
            <section class="mb-4">
              <h6 class="font-weight-bold mb-3">Rating</h6>
                  <div id="rating-filter"></div>
            </section>
            <!-- Section: rating -->
            <!-- Section: Boards -->
            <section class="mb-4">
              <h6 class="font-weight-bold mb-3">Boards</h6>
              <div id="board-filter"></div>
            </section>
            <!-- Section: Boards -->
            <!-- Section: Themes -->
            <section class="mb-4">
              <h6 class="font-weight-bold mb-3">Themes</h6>
              <div id="theme-filter"></div>
            </section>
            <!-- Section: Themes -->
        </section>
        <!-- Section: Filters -->
    </section>
  <!-- Section: Sidebar -->
  </div>
  <div class="col-md-9 mb-4">
    <!-- Section: Products  -->
    <section class="mb-3">
      <!-- Sorting -->
      <section class="mb-3">
        <div class="row d-flex justify-content-around align-items-center"> 
              <div class="col-12 col-md-4 offset-8">
                <div class="d-flex flex-wrap">
                  <div class="select-outline position-relative w-100">
                    <select id="sort-select" class="mdb-select md-form md-outline form-select update border-dark">
                      <option value="score:asc">Hotels recommendés</option>
                      <option value="price:asc">moin cher au plus cher</option>
                      <option value="price:desc">plus cher au moins cher</option>
                      <option value="name:asc">Nom hotel(A à Z)</option>
                      <option value="name:desc">Nom hotel(Z à A)</option>
                      <option value="rating:asc">Nombre d'étoiles(bas en haut)</option>
                      <option value="rating:desc">Nombre d'étoiles(haut en bas)</option>
                    </select>
                  </div>
                </div>
              </div>
        </div>
      </section>
      <!-- Sorting -->
      <!-- hotels -->
      <section>
        <!-- Loader -->
        {{!-- <div id="loader" class="loader-overlay">
          <div class="preloader-wrapper active">
            <div class="spinner-layer spinner-blue-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
        </div> --}}
        <!-- Loader -->
        <!-- Grid row -->
        <div class="" id="products"></div>
        <div>
          <button class="btn btn-outline-info" id="show-more">Show More</button>
        </div>
        <!-- Grid row -->
      </section>
    </section>
    <!-- Section: Products  -->
  </div>

  

  
</div>
<script>
  function hotelTemplate(hotel) {
    stars=hotel.rating;
    rating=``;
    for (var i =1; i<=hotel.rating;  i++ ) { 
        rating+=`<i style="color: #FF9529;" class="fas fa-star"></i>`;
    } 
    for (var i =5; i>hotel.rating;  i-- ) { 
        rating+=`<i style="color: #FF9529;" class="far fa-star"></i>`;
    }
    return `{{> hotel}}`;
  }
  function filtersPriceTemplate(filters){
    return `{{> filters/priceFilter}}`;
  }
  function filtersRatingTemplate(rating){
    return `{{> filters/ratingFilter}}`;
  }
  function filtersBoardTemplate(board){
    return `{{> filters/boardFilter}}`;
  }
  function filtersThemeTemplate(theme){
    return `{{> filters/themeFilter}}`;
  }
</script>
<script src="javascripts/searchResults.js"></script>
<script src="javascripts/filters.js"></script>
<script>          
  getHotels();
</script>