<div class="p-5 mb-4 text-white bg-dark rounded-3 border">
    <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold mb-5">Search for hotels</h1>
    <form action="/hotels" method="get">
            <div class="form-row row">
            <div class="col">
                <input list="cities" name="cityId" class="form-control" placeholder="ville" value="" required>
            </div>
            <datalist id="cities">
                {{#each cities}}
                    <option value="{{this.id}}">{{this.name}}</option>
                {{/each}}
            </datalist>
                <div class="col">
                    <input id="checkIn" type="date" name="checkIn" class="form-control" value="" required>
                </div>
                <div class="col">
                    <input id="checkOut" type="date" name="checkOut" class="form-control"  required>
                </div>
                <div class="col">
                    <select name="pax" id="" class="form-control">
                        <option value="1">1</option>
                        <option value="2" selected>2</option>
                        <option value="3">3</option>
                    </select>
                </div>
                <div class="col">
                    <button class="btn btn-outline-light form-control" type="submit">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
  <div class="col-md-3 mb-4">
      <!-- Section: Sidebar -->
    <section id="sidebar" class="mb-3" >
        <!-- Section: Filters -->
        <section class="p-3" id="filters">
            <h5>Filters</h5>
            <!-- Section: Price  -->
            <section id="price-filter" class="mb-4"></section>
            <!-- Section: Price  -->

            <!-- Section: rating -->
            <section class="mb-4">
              <h6 class="font-weight-bold mb-3">Rating</h6>
                  <div id="rating-filter"></div>
            </section>
            <!-- Section: rating -->

            <!-- Section: Boards -->
            <section class="mb-4">
              <h6 class="font-weight-bold mb-3">Boards</h6>
              <div id="board-filter"></div>
            </section>
            <!-- Section: Boards -->

            <!-- Section: Themes -->
            <section class="mb-4">
              <h6 class="font-weight-bold mb-3">Themes</h6>
              <div id="theme-filter"></div>
            </section>
            <!-- Section: Themes -->
        </section>
        <!-- Section: Filters -->

    </section>
  <!-- Section: Sidebar -->
  </div>
  <div class="col-md-9 mb-4">
    <!-- Section: Products  -->
    <section class="mb-3">
      <!-- Sorting -->
      <section class="mb-3">
        <div class="row d-flex justify-content-around align-items-center"> 
              <div class="col-12 col-md-4 offset-8">
                <div class="d-flex flex-wrap">
                  
                  <div class="select-outline position-relative w-100">
                    <select id="sort" class="mdb-select md-form md-outline form-control">
                      <option value="1">Best rating</option>
                      <option value="2">Lowest price first</option>
                      <option value="3">Highest price first</option>
                    </select>
                  </div>
                </div>
              </div>
        </div>
      </section>
      <!-- Sorting -->
      <!-- hotels -->
      <section>
        <!-- Loader -->
        {{!-- <div id="loader" class="loader-overlay">
          <div class="preloader-wrapper active">
            <div class="spinner-layer spinner-blue-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
        </div> --}}
        <!-- Loader -->

        <!-- Grid row -->
        <div class="" id="products"></div>
        <!-- Grid row -->
      </section>
    </section>
    <!-- Section: Products  -->
  </div>

  

  
</div>
<script>
  function hotelTemplate(hotel) {
    return `{{> hotel}}`;
  }
  function filtersPriceTemplate(filters){
    return `{{> filters/priceFilter}}`;
  }
  function filtersRatingTemplate(rating){
    return `{{> filters/ratingFilter}}`;
  }
  function filtersBoardTemplate(board){
    return `{{> filters/boardFilter}}`;
  }
  function filtersThemeTemplate(theme){
    return `{{> filters/themeFilter}}`;
  }
</script>
<script src="javascripts/searchResults.js"></script>
<script>          
  getHotels();
</script>


