<div class="form-check pl-0 mb-2">
    <input value="${board.code}" type="checkbox" name="board" class="form-check-input filled-in update">
    <label class="form-check-label small card-link-secondary">${board.name}</label>
</div>