<div class="form-check pl-0 mb-3">
    <input value="${board.code}" type="checkbox" class="form-check-input filled-in">
    <label class="form-check-label small text-uppercase card-link-secondary">${board.name}</label>
</div>