<div class="slider-price align-items-center">
    <h6 class="font-weight-bold ">Filtrer par budget</h6>
    <form class="multi-range-field w-100 mb-1">
        <h5 class="text-center" ><small><label for="price-range"><span id="output"></span></label></small></h5>
            
        
        <input type="range" id="price-range" class="multi-range update" min="${filters.minRate}" max="${filters.maxRate}" value="${filters.maxRate}" step="0.01" />
    </form>
    <div class="row">
        <span class="font-weight-normal small text-muted mr-2 col">${filters.minRate}</span>
        <span class="font-weight-normal small text-muted ml-2 col text-end">${filters.maxRate}</span>
    </div>
</div>