<div class="form-check ps-0 mb-2 bg-white d-inline">
    <input value="${rating.code}" id="${rating.name}" type="checkbox" name="rating" class="form-check-input filled-in update btn-check" hidden>
    <label class="btn btn-outline-secondary border border-1 shadow-sm" for="${rating.name}"> <small>${rating.name[0]} <i class="fas fa-star"></i></small></label>
</div>