<div class="form-check pl-0 mb-2 bg-white">
    <input value="${rating.code}" type="checkbox" name="rating" class="form-check-input filled-in update">
    <label class="form-check-label small card-link-secondary">${rating.name} (${rating.count})</label>
</div>