<div class="form-check pl-0 mb-2 bg-white">
    <input value="${theme.code}" type="checkbox" name="theme" class="form-check-input filled-in update">
    <label class="form-check-label small card-link-secondary">${theme.name}</label>
</div>